pkgbase = libmspack
	pkgdesc = A library for Microsoft compression formats
	pkgver = 0.11alpha
	pkgrel = 1
	epoch = 1
	url = https://www.cabextract.org.uk/libmspack/
	arch = x86_64
	license = GPL
	makedepends = git
	depends = glibc
	provides = libmspack.so
	source = git+https://github.com/kyz/libmspack#tag=9d29d849d0b272eaf66c1e4811f573492fea035f
	sha256sums = SKIP

pkgname = libmspack
