pkgbase = libmspack
	pkgdesc = A library for Microsoft compression formats
	pkgver = 0.11alpha
	pkgrel = 1
	epoch = 1
	url = https://www.cabextract.org.uk/libmspack/
	arch = x86_64
	license = GPL
	makedepends = git
	depends = glibc
	provides = libmspack.so
	source = git+https://github.com/kyz/libmspack#tag=tags/v0.11alpha
	sha256sums = 729d08d273ddc374fb0a72c4ab3630efbd24dc3e5a80a1374dfef05096b15812

pkgname = libmspack
